body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
;

}
.center {
  text-align: center;
}
.center-align {
  display: flex;
  justify-content: center;
  background-color: red;
}
.containter {

  background-color: red;
  display: flex;
  justify-content: center;
}

.top {
  padding-top: 3em;
}
.top:nth-child() {
  padding:top;
  
}
.item {
  padding-top: 3em;
  padding-left: 15vw;
  width: 70vw;

}
.textBox {
  background-color: #d6d6d6;
  padding-top: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center;
}

#picture {
  padding: 1em;
}
.main-title{
  font-size: 1.75em;
  font-stretch: narrower;
  margin-bottom: 1em;
  margin-top: 0.5em;
  color: rgb(255, 61, 158);

}
span.stretch {
  display:inline-block;
  -webkit-transform:scale(1,2); /* Safari and Chrome */
  -moz-transform:scale(1,2); /* Firefox */
  -ms-transform:scale(1,2); /* IE 9 */
  -o-transform:scale(1,2); /* Opera */
  transform:scale(1,2); /* W3C */
}
#image {
  justify-content: center;;
}
.game-state{
  width:100%;
}

#progress{
  display:none;
  width:100%;
}

#progress .bar1{
  background-color: rgb(76, 175, 80);
}

#progress .bar2{
  background-color: rgb(244, 67, 54);
  background-image:none;
}

#correct, #wrong{
	
	padding:2px;
	margin:3px;
	color:#FFF;
}

#correct{
  background-color: rgb(76, 175, 80);
}

#wrong{
  background-color: rgb(244, 67, 54);
}

.mdl-card__title {
  width:100%;
  height: 117px;
}
.game-state  .mdl-card__title {
  color: #fff;
  background: url('../img/question_answer_white.png') bottom right 15% no-repeat #46B6AC;
  background-position-y: 5%;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

@media (min-width: 700px) { 
	.game-state-game .mdl-button{
		height:90px;
		font-size: 2em;
		padding-top: 1em;
	}

}

#load{
	display:none;
}
